* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-primary: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(https://assets.nflxext.com/ffe/siteui/vlv3/76c10fc9-7ccd-4fbf-bc59-f16a468921ca/529648c5-e595-4746-af3f-fab3106e3146/BR-pt-20230529-popsignuptwoweeks-perspective_alpha_website_large.jpg);
    --gradient-border: linear-gradient(0deg, rgba(0, 8, 29, 1), rgba(0, 8, 29, 1)) padding-box, linear-gradient(271.65deg, #233371 5.26%, #00197a 50.02%, #e50914 97.68%) border-box;
    --black-alpha: rgba(0,0,0,0.6);
    --white-color: #fff;
    --light-gray: #666666;
    --red-color: rgb(229,9,20);
    --red-color-hover: rgb(193, 17, 25);
    --font-type:  Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;;
}

body {
    background: var(--background-primary);
    background-position: center auto;
    background-size: auto;
    background-attachment: scroll;
    background-origin: padding-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3.3rem 12.3rem;
    width: 100%;
    height: 5rem;
}

select {
    appearance: none;
    background: transparent;
    border: none;
    color: var(--white-color);
    font-size: 1.2rem;
    padding: 0 .2rem 0 .4rem;
    margin-top: -.2rem;
    cursor: pointer;
}

h1 {
    font-size: 3.8rem;
}

p {
    font-size: 2rem;
    font-weight: 400;
    margin-top: 1.6rem;
}


.logo-img {
    width: 11.5rem;
}

.navigation {
    display: flex;
    text-align: center;
    height: 100%;
    padding: 0 2rem;
}

.material-symbols-outlined {
    color: var(--white-color);
}

.languages-div {
    background: var(--black-alpha);
    padding: .3rem 1rem;
    margin-right: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: .1rem solid var(--light-gray);
    border-radius: .3rem;
    transition: all .3s ease-in-out;
    cursor: pointer;
}

.languages-div:hover {
    border: .1rem solid var(--white-color);
}

.bt-login {
    padding: .50rem 1.1rem;
    background: var(--red-color);
    font-size: 1.1rem;
    font-weight: 500;
    letter-spacing: 0;
    color: var(--white-color);
    border: none;
    border-radius: .3rem;
    transition: all .3s ease-in-out;
    cursor: pointer;
}

.bt-login:hover {
    background: var(--red-color-hover);
}

.button-div,
.complete-languages-div  {
    display: inline-block;
    justify-content: center;
}

.margin-form-div {
    margin-top: 15.8rem;
}

.form-div {
    margin: 0 auto;
    color: var(--white-color);
    font-family: var(--font-type);
    font-weight: 900;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 74rem;
}